:root{
  --txt-color-primary: #cad2c5;
  --txt-color-secondary: #fff;
  --overlay-color: #112233;
  --bg-color-primary: #373a38;
  --bg-color-secondary: #e2d4b4;
  --border-color: #84a98c;
  --dl-btn-color: #354f52;
  --txt-size: 1rem;
  --default-width: calc(80ch + 300px + 2px + 2rem);
  --vh: 0;
}

input[type=text], input[type=button] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.wrapper {
  background-image: url(./assets/images/aesthetic-3d-cube.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow-y: overlay;
  overflow-x: hidden;
}

.App-background {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  color: var(--txt-color-primary);
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}


.App-background > div:first-of-type {
  display: inherit;
  flex-grow: 1;
  justify-content: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: var(--default-width);
}

.home {
  align-items: center;
  color: var(--txt-color-secondary);
}

.about {
  padding: 1rem 2rem 1rem 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.about > div:first-of-type{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.hobby {
  display: flex;
  padding: 1rem;
  align-items: center;
}

.spotify {
  width: 100%;
  height: 80vh;
  overflow: auto;
}

.exp {
  display: flex;
  align-items: center;
}

.proj {
  display: flex;
  align-items: center;
}
.proj-list {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.spacer {
  max-width: 50%;
  height: 1px;
  flex-grow: 1;
  flex-shrink: 1;
}

.profile-pic {
  width: 300px;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-pic > div, .profile-pic > img {
  width: inherit;
  height: inherit;
  position: absolute;
  background: radial-gradient(circle at center, transparent 25%,var(--overlay-color) 200%);
}

h1,h2,h3,h4,h5,h6 {
  position: relative;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 1rem 0 1rem 0;
  padding: 0 0 0.5rem 0;
  color: var(--txt-color-secondary)
}

h4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3rem;
  height: 0.1rem;
  background-color: var(--border-color);
}

h1 {
  font-size: calc(var(--txt-size) * 5);
}

h2 {
  font-size: calc(var(--txt-size) * 4);
}

h3 {
  font-size: calc(var(--txt-size) * 2.25);
  letter-spacing: 3px;
}

h4 {
  font-size: calc(var(--txt-size) * 2);
  letter-spacing: 2px;
}

h5 {
  font-size: calc(var(--txt-size) * 1.5);
}

h6 {
  font-size: calc(var(--txt-size) * 1);
}

nav {
  position: relative;
  padding: 1rem 1rem 0.5rem 1rem;
  font-weight: 450;
}

a {
  text-decoration: none;
  color: inherit;
}

.download-btn, .navigate-btn, .nav-item {
  cursor: pointer;
}

.nav-item{
  color: var(--txt-color-secondary);
  text-decoration: none;
  display: block;
  padding-bottom: 0.5rem;
  position: relative;
  margin: 0 1rem;
}
.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background: var(--txt-color-primary);
  transition: opacity 300ms, transform 300ms;
  transform: scale(0);
}
.nav-item:hover::after, .nav-item.active::after {
  transform: scale(1);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: inside;
}

li {
  list-style: none;
  transition: 200ms;
}

.nav-li {
  justify-content: center;
  display: flex;
  flex-direction: row;
  transition: 500ms;
}

.profile-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  background: green;
}

.navigate-btn {
  padding: 1rem 5rem 1rem 5rem;
  font-size: 1rem;
  border-radius: 3px;
  background-color: #c3c3c310;
  text-align: center;
  transition: 150ms;
  position: relative;
  background: rgba(188, 179, 179, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  border: 1px solid rgba(188, 179, 179, 0.11);
  margin-top: 1.5rem;
}
.navigate-btn:hover {
  opacity: 0.7;
}
.navigate-btn:active {
  opacity: 0.5;
}
.navigate-btn-li {
  flex-direction: column;
}

.icon-link {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  gap: 2rem;
}

.icon {
  background-size: cover;
  width: 30px;
  height: 30px;
  display: block;
  transition: 500ms;
  margin-left: 1rem;
}

.icon-small {
  background-size: cover;
  width: 1rem;
  height: 1rem;
  display: block;
  transition: 500ms;
  display: flex;
}

.icon:hover{
  opacity: 0.8
}
.icon:active{
  opacity: 0.6
}
.icon-discord {
  background-image: url(./assets/icons/icons8-discord.svg)
}
.icon-github {
  background-image: url(./assets/icons/icons8-github.svg)
}
.icon-linkedin {
  background-image: url(./assets/icons/icons8-linkedin-2.svg)
}
.icon-email {
  background-image: url(./assets/icons/icons8-gmail-logo.svg)
}

.hand-written-name {
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-linejoin: bevel;
  stroke-width: 1.5px;
  stroke: var(--txt-color-secondary);
}
@keyframes stroke-offset {
  to {
    stroke-dashoffset: 0;
  }
}
#Q {
  animation: 0.8s stroke-offset linear forwards;
}
#u {
  margin-top: 0.1rem;
  animation: 0.5s stroke-offset linear forwards 0.8s;
}
#an {
  margin-top: 0.1rem;
  margin-left: -0.25rem;
  animation: 1s stroke-offset linear forwards 1.3s;
}
#P {
  height: 50px;
  animation: 0.8s stroke-offset linear forwards 2s;
}
#h {
  margin-left: -0.75rem;
  animation: 0.5s stroke-offset linear forwards 2.8s;
}
#am {
  margin-left: -0.5rem;
  animation: 1s stroke-offset linear forwards 3.3s;
}
#underline {
  animation: 0.8s stroke-offset ease-out forwards 4.2s;
}

.proj-card {
  background: #354f5233;
  width: 30ch;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #354f52aa;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 5px;
  margin: 1rem;
  position: relative;
  transition: 500ms;
  overflow: hidden;
  max-height: 200px;
}
.proj-card.expanded {
  width: 100%;
  max-height: none;
}
.proj-card::after, .proj-card::before  {
  content: "";
  position: absolute;
  height: 35%;
  width: 100%;
  margin: 0 -1rem ;
  width: 100%;
  bottom: 0;
  border-radius: 5px;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, #354f52aa);
}
.proj-card::before {
  height: 5%;
}
.proj-card:hover {
  border: 1px solid #84a98c99;
}
.proj-card > p {
  margin: 0;
}
.proj-card > h5 {
  margin: 0rem;
}
.proj-card > h6 {
  margin: 0rem;
  color: var(--txt-color-primary)
}
.proj-card ul > li {
  list-style: disc;
  margin: 0.5rem;
}
.expand-proj-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 0 0 -1rem;
  background: transparent;
  text-align: center;
  background: #354f5200;
  color: inherit;
  font: inherit;
  border: none;
  border-radius: 2px;
  transition: 500ms;
}
.expand-proj-btn:hover {
  background: #354f5233;
}
.expand-proj-btn.expanded {
  transform: rotateX(180deg);
}

.copyright {
  text-align: center;
  color: #767373;
  margin: 1rem;
  font-size: 0.75rem;
}

.intro-box {
  max-width: 80ch;
  flex-grow: 1;
}

.skill-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.skill-box > h6 {
  margin: 0;
  padding: 0;
}

.skill-box > p {
  margin: 5px 0 1.5rem 0;
}

.info-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info-box ul {
  margin: 0 1rem;
}

.info-box ul > li {
  margin: 1rem 0;
  display: flex;
  width: 100%;
  align-items: center;
}

span {
  font-weight: bold;
  margin-right: 0.5rem;
  color: var(bg-color-secondary);
}

.download-btn {
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  border-radius: 3px;
  font-weight: 500;
  font-family: "Segoe UI";
  color: inherit;
  border: 1px solid #84a98c33;
  background-color: var(--dl-btn-color);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  transition: 500ms;
}
.download-btn:hover {
  background: transparent;
}
.download-btn:active {
  opacity: 0.65;
}

.nav-toggle-btn {
  transform: translate(-50%, -50%);
  top: 40px;
  right: 0;
  position: absolute;
  width: 50px;
  display: none;
}
.nav-toggle-btn:before,
.nav-toggle-btn:after,
.nav-toggle-btn span {
    background: var(--txt-color-primary);
    content: "";
    display: block;
    height: 3px;
    border-radius: 3px;
    margin: 6px 12px;
    transition: 0.5s;
}
.nav-toggle-btn.active:before {
transform: translateY(6px) rotate(135deg);
}
.nav-toggle-btn.active:after {
transform: translateY(-12px) rotate(-135deg);
}
.nav-toggle-btn.active span {
transform: scale(0);
}

@media (max-width: 650px){
  .proj-list {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .proj-card.expanded{
    position: relative;
    width: 30ch;
    max-height: calc(var(--vh, 1vh) * 100);
  }
}

@media (max-width: 500px){
  .wrapper {
    height: 100%;
    height: calc(var(--vh, 1vh) * 100);
  }
}

@media (max-width: 800px){
  .nav-item {
    margin: 0.5rem 0;
  }

  .nav-toggle-btn {
    display: block
  }

  .nav-li {
    opacity: 0;
    height: 30px;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    transform: translateY(-1000px);
  }
  .nav-li > * {
    opacity: 0;
  }
  .nav-li.expanded {
    opacity: 1;
    transition: 500ms;
    height: 200px;
    transform: translateY(0px);
  }
  .nav-li.expanded > * {
    opacity: 1;
  }
}