body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 400px) {
  .spotify::-webkit-scrollbar {
    width: 5px;
  }
  
  .spotify::-webkit-scrollbar-track {
    background: #373a3833;
  }
  
  .spotify::-webkit-scrollbar-thumb {
    background: #4b4f4caa;
  }

  .spotify::-webkit-scrollbar-thumb:hover, .spotify::-webkit-scrollbar-thumb:active {
    background: #4b4f4c;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #373a38; 
  }
   
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #4b4f4c; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #595b59;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: #626563;
  }
}